public/api/conf/1.0/schemas/BaseTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ecs.dgtaxud.ec" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" version="60.4.15" targetNamespace="http://ecs.dgtaxud.ec" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:simpleType name="UK_AlphaNumeric4Type">
		<xs:restriction base="xs:token">
			<xs:pattern value=".{1,4}"/>
		</xs:restriction>
	</xs:simpleType>	
    <xs:simpleType name="UK_AlphaNumeric7Type">
		<xs:restriction base="xs:token">
			<xs:pattern value=".{1,7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_AlphaNumeric17Type">
		<xs:restriction base="xs:token">
			<xs:pattern value=".{1,17}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_AlphaNumeric35Type">
		<xs:restriction base="xs:token">
			<xs:pattern value=".{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_AlphaNumeric35NoSpacesType">
		<xs:restriction base="UK_AlphaNumType">
			<xs:maxLength value="35"/>
			<xs:pattern value="\P{Z}(.*\P{Z})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_AlphaNumeric4NoSpacesType">
		<xs:restriction base="UK_AlphaNumType">
			<xs:maxLength value="4"/>
			<xs:pattern value="\P{Z}(.*\P{Z})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_AlphaNumeric512Type">
		<xs:restriction base="xs:token">
			<xs:pattern value=".{1,512}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_PreparationDateAndTimeContentType">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_MRNType">
		<xs:restriction base="UK_AlphaNumType">
			<xs:pattern value="([2][4-9]|[3-9][0-9])[A-Z]{2}[A-Z0-9]{12}[A-E][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_type">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[1-3]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_ReferenceNumberType">
		<xs:restriction base="UK_AlphaNumType">
			<xs:length value="8"/>
			<xs:pattern value="[A-Z]{2}[A-Z0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_OneToThreeType">
		<xs:restriction base="xs:token">
			<xs:pattern value="[1-3]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_DUCRType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9][A-Z][A-Z][0-9A-Z\(\)\-/]{6,32}|GB/[0-9A-Z]{3,4}-[0-9A-Z]{5,28}|GB/[0-9A-Z]{9,12}-[0-9A-Z]{1,23}|A:[0-9A-Z]{3}[0-9]{8}|C:[A-Z]{3}[0-9A-Z]{3,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_UCRReferenceNumberType">
		<xs:restriction base="UK_AlphaNumType">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[!-~][ -~]{1,33}[!-~]|[!-~]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_ParentUCRType">
		<xs:restriction base="xs:string">
			<!-- Explicit length bounds for safety -->
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<!-- Allowed patterns -->
			<xs:pattern value="GB/[0-9A-Z]{3,4}-[0-9A-Z]{5,29}|GB/[0-9A-Z]{9,12}-[0-9A-Z]{1,23}|A:[0-9A-Z]{3}[0-9]{8}|C:[A-Z]{3}[0-9A-Z]{3,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_NumericWithZero_4">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
			<xs:pattern value="(0|[1-9][0-9]{0,3})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_NumericWithoutZero_4">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
			<xs:pattern value="([1-9][0-9]{0,3})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_NumericWithoutZero_5">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99999"/>
			<xs:pattern value="[1-9][0-9]{0,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_NumericWithZero_8">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999999"/>
			<xs:pattern value="(0|[1-9][0-9]{0,7})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_ContainerIdentificationNumberType">
		<xs:restriction base="UK_AlphaNumType">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
			<xs:pattern value="[!-~][ -~]{1,15}[!-~]|[!-~]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_AlphaNumeric_MAX20_NoSpaces">
		<xs:restriction base="UK_AlphaNumType">
			<xs:maxLength value="20"/>
			<xs:pattern value="\P{Z}(.*\P{Z})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_AlphaNumeric_MAX70_NoSpaces">
		<xs:restriction base="UK_AlphaNumType">
			<xs:maxLength value="70"/>
			<xs:pattern value="\P{Z}(.*\P{Z})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_AlphaNumeric_MAX512_NoSpaces">
		<xs:restriction base="UK_AlphaNumType">
			<xs:maxLength value="512"/>
			<xs:pattern value="\P{Z}(.*\P{Z})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_DeclarationGoodsItemNumberType_WithZero">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
			<xs:pattern value="[1-9][0-9]{0,2}|0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_messageCode507">
		<xs:restriction base="xs:string">
			<!-- Allowed -->
			<xs:pattern value="CC507C"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_messageCode507Response">
		<xs:restriction base="xs:string">
			<!-- Allowed -->
			<xs:pattern value="ACK"/>
			<xs:pattern value="CD906C"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_errorCodeType">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Base types -->
	<xs:simpleType name="UK_AlphaNumType">
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="UK_Flag">
		<xs:annotation>
			<xs:documentation>
				<xs:description value="Used for attributes that can have a positive or a negative value."/>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation>NO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>YES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_SingleDigit">
		<xs:restriction base="xs:token">
			<xs:pattern value="[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_DoubleDigit">
		<xs:restriction base="xs:token">
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_A-ZOneChar">
		<xs:restriction base="xs:token">
			<xs:pattern value="[A-Za-z]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_A-ZTwoChar">
		<xs:restriction base="xs:token">
			<xs:pattern value="[A-Za-z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UK_DecimalWithZero_16_6">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="16"/>
			<xs:fractionDigits value="6"/>
			<xs:pattern value="(0|[1-9]\d*)(\.\d+)?"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>