app/uk/gov/hmrc/automatedexportsystem/xml/xsd/contact.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Root Element -->
    <xs:element name="Contact">
        <xs:complexType>
            <xs:sequence>
                <!--alphanumeric and spaces only; max lenght = 20-->
                <xs:element name="Name">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="20"/>
                            <xs:pattern value="[a-zA-Z0-9 ]+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <!-- optional; max 3 occurrences; numbers and spaces only; no min or max length-->
                <xs:element name="PhoneNumber" minOccurs="0" maxOccurs="3">
                    <xs:annotation>
                        <xs:appinfo source="urn:hmrc:error-key">PHONE</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[0-9 ]+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>